.idea
.classpath
.project
.settings
*.iml

maven-wrapper.jar

# Explicitly include packaged helm charts, since they are required for building the helm chart index.
# SNAPSHOTs are explicitly excluded from the index.
!target/
target/*
!target/helm
target/helm/artemis
target/helm/index.yaml
!target/helm/*.tgz
target/helm/*-SNAPSHOT.tgz
